<%
var labelColor = "#e02225";
var labelText = __t("email:label:security");
var title = __t("email:title:password-recovery");
%>
<% include ../../../../shared/views/email-layout-header.ejs -%>

<div style="font-size: 15px; padding-bottom: 10px;">
    <%= __t("email:hi-message", { name: name }) %>!
</div>

<div style="font-size: 15px; padding-bottom: 10px;">
    To reset your password please click the below button
    
</div>

<div style="font-size: 15px; padding-bottom: 10px;">
    <% var btnLink = process.env.FRONT_HOST + "/auth/reset-password/" + token; %>
    <% var btnText = "Reset Password"; %>
    <% include ../../../../shared/views/email-partial-button.ejs -%>
</div>


<div style="font-size: 15px; padding-bottom: 10px;">
    If you didn't initiate the password recovery then please ignore or contact AdRoot support
</div>

<% include ../../../../shared/views/email-layout-footer.ejs -%>
