<div style="padding-top: 15px;padding-bottom: 15px;">
    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;">
        <tr>
            <td align="center" vertical-align="middle" style="font-size:0px;padding:10px 25px;word-break:break-word;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:separate;width:100%;max-width:190px;line-height:100%;">
                    <tr>
                        <td align="center" role="presentation" style="border:none;cursor:auto;" valign="middle">
                            <a href="<%= btnLink %>" style="background:#ffc500;color:#ffffff;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;line-height:120%;Margin:0;text-decoration:none;text-transform:none;padding:10px 25px;border-radius:4px;" target="_blank">
                                <%= btnText %>
                            </a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>